body {
    margin: 30px auto 20px auto;
    font-family: 'Lato', sans-serif;
    color: #747704;
    font-weight: 300;
}

.header-image {
    width: 40%;
    max-width: 100px;
    max-height: 100px;
}

.header-divider,
.footer-divider {
    border: 1px solid #bcbbbb;
}

.text-muted {
    color: #bcbbbb;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
}

@media screen and (max-width: 730px) {
    .title-super {
        font-size: 3em;
    }
}

.featured:hover {
    cursor: pointer;
}


/* zocial */

[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
    color: black;
    display: inline-block;
    text-shadow: 3px 3px 3px #aaa;
    width: 2em;
}

.social a {
    margin: 0 1em 0 0;
}

.social a:last-of-type {
    margin: 0;
}

.social {
    line-height: 2em;
}